{
	"etag": "0",
	"templ_data": [{
		"templ_name": "toast",
		"layout_name": "msg.layout.toast",
		"disp_type": 0,
		"layout_attr": {
			"width": 260,
			"y": 0.8
		}
	},
	{
		"templ_name": "toast_round_corner",
		"layout_name": "msg.layout.toast_round_corner",
		"disp_type": 0,
		"layout_attr": {
			"y": 0.8
		}
	},
	{
		"templ_name": "tips_close_img",
		"layout_name": "msg.layout.tips_close_img",
		"disp_type": 0,
		"layout_attr": {
			"width": -1,
			"y": 5
		}
	},
	{
		"templ_name": "tips_close_text",
		"layout_name": "msg.layout.tips_close_text",
		"disp_type": 0,
		"layout_attr": {
			"width": -1,
			"y": 5
		}
	},
	{
		"templ_name": "tips_marquee",
		"layout_name": "msg.layout.tips_marquee",
		"disp_type": 0,
		"layout_attr": {
			"width": -1,
			"y": 0.25
		}
	},
	{
		"templ_name": "dialog_one_button",
		"layout_name": "msg.layout.dialog_one_button",
		"disp_type": 1,
		"layout_attr": {
			"width": 310
		}
	},
	{
		"templ_name": "dialog_two_button",
		"layout_name": "msg.layout.dialog_two_button",
		"disp_type": 1,
		"layout_attr": {
			"width": 310
		}
	},
	{
		"templ_name": "dialog_no_button",
		"layout_name": "msg.layout.dialog_no_button",
		"disp_type": 1,
		"layout_attr": {
			"width": 310
		}
	},
	{
		"templ_name": "dialog_checkbox",
		"layout_name": "msg.layout.dialog_checkbox",
		"disp_type": 1,
		"layout_attr": {
			"width": 310
		}
	},
	{
		"templ_name": "webview_dialog",
		"layout_name": "msg.layout.webview_dialog",
		"disp_type": 1,
		"layout_attr": {
			"width": -1,
			"height": -1
		}
	},
	{
		"templ_name": "webview_half_screen",
		"layout_name": "msg.layout.webview_half_screen",
		"disp_type": 1,
		"layout_attr": {
			"width": -1,
			"height": 0.875,
			"x": 0,
			"y": 0
		}
	},
	{
		"templ_name": "webview_full_screen",
		"layout_name": "msg.layout.webview_full_screen",
		"disp_type": 1,
		"layout_attr": {
			"width": -1,
			"height": -1
		}
	},
	{
		"templ_name": "float_button",
		"layout_name": "msg.layout.float_button",
		"disp_type": 2
	},
	{
		"templ_name": "notification_system",
		"disp_type": 3
	},
	{
		"templ_name": "independent_icon",
		"layout_name": "msg.layout.independent_icon",
		"disp_type": 4,
		"layout_attr": {
			"y": 0.33,
			"x": 0.9
		}
	},
	{
		"templ_name": "red_dot",
		"layout_name": "msg.layout.red_dot",
		"disp_type": 5
	}]
}